.allad-{
    background-image: url("../Assets/admin_background.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-size: cover; !* התאמת התמונה לרזולוציה של המסך *!*/
    background-position: center; /* מיקום התמונה בתוך האלמנט */
    background-size: contain; /* השתמש ב-contain כדי להציג את כל התמונה בגודל מקסימלי */
    height: 100vh;
    width: 100%;

}
.container- {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 35px;
    width: 500px;
    background: transparent;
    border-radius: 100px;
}

.H11  {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    color: orangered;
    font-size: 48px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.input- {
    width: 200px;
    padding: 15px;
    margin-bottom: 30px;
    direction:rtl ;
    border-radius: 10px;
    margin-left: 120px;
}

.btn- {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    width: 220px;
    height: 59px;
    color: white;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.button-:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.message- {
    margin-top: 10px;
    color: green;
}

.error {
    margin-top: 10px;
    color: red;
}
